#clientes-destacados {
    padding: 60px 0;
    background-color: #06061F; 
    color: #fff;
    position: relative;
    overflow: hidden;
    font-family: 'Segoe UI';
  }
  
  .section-title {
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #00FF9D; 
    font-size: 50px;
    text-align: center;
  }
  
  .section-description {
    margin-bottom: 40px;
    font-size: 24px;
    color: #ccc;
    text-align: center;
  }

  .cliente-item {
    height: 140px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  
  .cliente-item img {
    max-width: 100%;
    max-height: 110px;
    object-fit: contain;
  }
  
  .carousel-wrapper {
    position: relative;
    padding: 0; 
  }

  .owl-nav {
    display: none !important;
  }

  .owl-dots {
    display: none;
  }

  .clientes-carousel-top {
    direction: ltr; 
  }
  
  .clientes-carousel-bottom {
    direction: rtl; 
    margin-top: 50px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
