.valores-section {
    background-color: rgb(232,228,228); 
    padding: 40px 0 30px;
    position: relative;
    overflow: hidden; 
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

.titulo-section {
    position: relative;
    text-align: center;
    padding: 80px 0 20px;
    width: 100%;
    z-index: 5;
}

.titulo-outline {
    font-size: 150px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px #0a0a26;
    opacity: 0.2;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 0;
    user-select: none;
}

.titulo-main {
    font-size: 50px;
    font-weight: 700;
    color: #0a0a26;
    position: relative;
    letter-spacing: 2px;
    z-index: 1;
    margin: 0 auto;
}

.titulo-accent {
    display: block;
    width: 60px;
    height: 6px;
    background-color: #0a0a26;
    margin: 10px auto 0;
    border-radius: 3px;
}

.valores-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    position: relative;
    flex-wrap: wrap;
    margin: 20px auto 0;
    z-index: 2;
}

.valor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.valor-item img {
    width: 128px;
    height: 128px;
    margin-bottom: 60px;
    max-width: 100%;
}

.valor-titulo {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    color: #0A0F2C;
    margin-top: 10px;
}

.linea-indicadores {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    top: calc(170px + 10px); 
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.linea-punteada {
    width: 100%;
    height: 2px;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to right, #00cf75 50%, transparent 50%);
    background-position: top;
    background-size: 10px 2px;
    background-repeat: repeat-x;
}

.indicador {
    width: 15px;
    height: 15px;
    background-color: #0A0F2C;
    position: absolute;
    top: 153.5px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: background-color 0.3s ease;
}

.valor-item:hover .indicador {
    background-color: #00cf75; 
}

@media (max-width: 1200px) {
    .titulo-outline {
        font-size: 100px;
    }
    
    .titulo-main {
        font-size: 40px;
    }
    
    .titulo-accent {
        width: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .valor-item {
        width: 30%;
        margin-bottom: 50px;
    }
    
    .linea-indicadores {
        top: calc(70px + 10px);
    }
}

@media screen and (max-width: 768px) {
    .titulo-outline {
        font-size: 80px;
    }
    
    .titulo-main {
        font-size: 32px;
    }
    
    .titulo-accent {
        width: 50px;
        height: 5px;
    }
    
    .valor-item {
        width: 45%;
        margin-bottom: 50px;
    }
    
    .valor-item img {
        width: 60px;
        height: 60px;
        margin-bottom: 25px;
    }
    
    .valor-titulo {
        font-size: 14px;
    }
    
    .linea-indicadores {
        top: calc(60px + 10px);
    }
}

@media screen and (max-width: 576px) {
    .titulo-section {
        padding: 60px 0 10px;
        overflow: hidden;
    }
    
    .titulo-outline {
        font-size: 70px;
        white-space: normal !important;
        width: 100%;
        overflow: hidden;
    }
    
    .titulo-main {
        font-size: 30px;
        width: 100%;
        padding: 0 10px;
    }
}

@media screen and (max-width: 480px) {
    .titulo-outline {
        font-size: 60px;
    }
    
    .titulo-main {
        font-size: 28px;
    }
    
    .valor-item {
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 40px;
    }
    
    .valor-item img {
        margin-bottom: 0;
        margin-right: 30px;
    }
    
    .linea-indicadores {
        height: 100%;
        width: 2px;
        top: 0;
        bottom: 0;
        left: 20px;
        right: auto;
    }
    
    .linea-punteada {
        width: 2px;
        height: 100%;
        background-image: linear-gradient(to bottom, #00cf75 50%, transparent 50%);
        background-position: left;
        background-size: 2px 10px;
        background-repeat: repeat-y;
    }
    
    .indicador {
        top: 50%;
        left: -6.5px;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 375px) {
    .titulo-outline {
        font-size: 50px;
    }
    
    .titulo-main {
        font-size: 26px;
    }
}

@media screen and (max-width: 320px) {
    .titulo-outline {
        font-size: 45px;
    }
    
    .titulo-main {
        font-size: 24px;
    }
}
